.blue-color-theme{
    background-color:#00558c !important;
}
.font-white{
    color:white;
}
.font-blue{
    color: #00558C;
}
.light-grey-theme{
    background-color:#EBF1F5;
}

.white-theme{
    background-color:white;
}

.font-grey{
    color:#CED9E0;
}