.add-Indiv-form-container{
    width:750px;
    margin: 0 auto;
    margin-top: 5em;
    border: 1px solid lightgrey;
}
.add-Indiv-form-header{
    background-color:#D8E1E8;
    font-size:18pt;
    border-bottom:1px solid lightgrey;
    padding-bottom:0;
    margin-bottom:0;
    padding-left:1em;
}
.add-Indiv-form-body{

}