.home{
  height:100vh;
  -webkit-filter: grayscale(100); /* Old WebKit */
  filter: grayscale(100);
  -webkit-background-size: auto;
  -moz-background-size: cover;
  background-size: cover;
}
.navbar{
  background: rgba(0,0,0,0.4)
}
