.navbar-brand{
    color: white !important;
}
.navbar-header img{
    height: 5em
}
.navbar a{
    margin-top: .5em
}
.btn-background {
    background: white;
    margin-top: 1em;
    margin-right: .5em
}
.router-link {
    color: black !important;    
}
.dashboard-nav{
    width: 100%;
}
.dashboard-nav-logo{
    height:50px;
    width:50px;
    margin-right:1em;
}
.dashboard-nav-link{
    color:white !important;
}
.dashboard-navbar-left-links{
    margin-left:2em;
}
