.menu{
    background-color: #ffffff;
    height: 100vh;
    display: 'flex' !important;
    flex-direction:'column' !important;
    border-left: 10px solid #CED9E0;
    border-right: 10px solid #CED9E0;
    width: 30em;
}
.menu-item{
    color:white;
    background-color:#514951;
}
.pt-menu-item::before{
    color:white;
}
.men-item{
    z-index:1;
}
.search-all{
    margin-top: 2em;
}

.menu .pt-input-group{
    margin-top:0;
    padding-top:0;
}