.signup-form{
    border: 1px solid lightgrey;
    margin: 0 auto;
}
.signup-header{
    text-align: center;
    font-size: 16pt;
    margin-top:2em
}
.signup-form-container{
    width:35em;
    margin: 0 auto;
    background-color:white;
    margin-top:5em;
}
.sign-up-form-input-group{
    width:90%;
    margin: 0 auto;
    margin-bottom:1em;
}
.sign-up-btn{
    width:90%;
    margin: 0 auto;
    font-size: 12pt;
    height:4em;
    margin-bottom:4em;
}
.sign-up-page{
    background-color:snow;
    height:100vh;
}